le_mur/.vs/
le_mur/obj/
le_mur.Android/obj/
le_mur.iOS/obj/
le_mur/le_mur/obj/
le_mur.Android/le_mur/obj/
le_mur.iOS/le_mur/obj/
le_mur/.vs/le_mur/v17/
/le_mur/.vs/le_mur/v17/.suo
/le_mur/le_mur/le_mur/obj/Debug/netstandard2.0/le_mur.assets.cache
/le_mur/le_mur/le_mur/obj/Debug/netstandard2.0/le_mur.csproj.AssemblyReference.cache
/le_mur/le_mur/le_mur/obj/Debug/netstandard2.0/le_mur.GeneratedMSBuildEditorConfig.editorconfig
/le_mur/le_mur/le_mur.Android/obj/Debug/130/designtime/build.props
/le_mur/le_mur/le_mur.Android/obj/Debug/130/designtime/libraryprojectimports.cache
/le_mur/le_mur/le_mur.Android/obj/Debug/130/designtime/Resource.designer.cs
/le_mur/le_mur/le_mur.Android/obj/Debug/130/le_mur.Android.csproj.AssemblyReference.cache
*.htm
/le_mur/le_mur/le_mur.iOS/obj/iPhone/Debug/le_mur.iOS.csproj.AssemblyReference.cache
